<div class="main-content">
    <div class="container-fluid login-page">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Item</h4>
                        <p class="card-category"> {{isEditAction?'Edit':'Add'}}</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Description" name="description"
                                               [(ngModel)]="item.description">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Weight" type="number" name="weight"
                                               [(ngModel)]="item.weight">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-select [(ngModel)]="item.category.id" name="category">
                                            <mat-option *ngFor="let category of categories"
                                                        value="{{category.id}}">{{category.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                    (click)="submit()">
                                {{isEditAction?'Edit':'Add'}}
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
