<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title ">Missions</h4>
                                <p class="card-category"> All available Missions</p>
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <button mat-raised-button class="btn btn-white btn-round btn-just-icon"
                                        [routerLink]="'add'">
                                    <i class="material-icons">add</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Items Count
                                </th>
                                <th>
                                    Items Weight Sum
                                </th>
                                <th>
                                    Max Weight
                                </th>
                                <th>
                                    Action
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let mission of missions">
                                    <td>
                                        {{mission.id.substr(20)}}
                                    </td>
                                    <td>
                                        {{mission.name}}
                                    </td>
                                    <td>
                                        {{mission.items.length}}
                                    </td>
                                    <td>
                                        <p class="badge mat-elevation-z1 {{getItemsWeight(mission.items)<=mission.maxWeight?'badge-success':'badge-danger'}}">
                                            {{getItemsWeight(mission.items)}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="badge mat-elevation-z1 badge-info">
                                            {{mission.maxWeight}}
                                        </p>
                                    </td>
                                    <td>
                                        <button mat-raised-button type="button" matTooltip="Edit Task"
                                                [matTooltipPosition]="'above'" [routerLink]="mission.id+'/edit'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'" (click)="delete(mission)"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
