<div class="row">
    <div class="col-lg-8 col-md-8">
        <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">{{mission.name}}:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li *ngFor="let category of missionStats.categories; let i=index"
                                class="nav-item">
                                <a mat-button class="nav-link {{i===0?'active':''}}" href="#{{category.name}}"
                                   data-toggle="tab">
                                    <i class="material-icons">bug_report</i> {{category.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div *ngFor="let category of missionStats.categories; let i=index"
                         class="tab-pane {{i===0?'active':''}}"
                         id="{{category.name}}">
                        <table class="table table-hover">
                            <thead class="">
                            <th>Item Id</th>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Removed Weight Percentage</th>
                            <th>Removed Weight</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of missionStats.stats">
                                <td *ngIf="item.item.category.id===category.id">{{item.item.id.substr(20)}}</td>
                                <td *ngIf="item.item.category.id===category.id">{{item.item.description}}</td>
                                <td *ngIf="item.item.category.id===category.id">{{item.item.weight}} Kg</td>
                                <td *ngIf="item.item.category.id===category.id">{{item.removedPercentage}} %</td>
                                <td *ngIf="item.item.category.id===category.id">{{item.removedWeight}} Kg</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Removed Weight By Category</h4>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> data refreshed now
                </div>
            </div>
        </div>
    </div>
</div>
