<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="../assets/img/user_logo.png"/>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{authService.loggedAdmin.authorities}}</h6>
                        <h4 class="card-title">{{authService.loggedAdmin.username}}</h4>
                        <p class="card-description">
                            Made with passion...
                        </p>
                        <a href="javascript:void(0)" (click)="logout()" class="btn btn-danger btn-round">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
